@charset "utf-8";
/* CSS Document */

* {
	padding: 0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
	
}

body {	
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: left;
	background-image:url(../imagenes/fondo.jpg);
}

#wide-header{
	width: auto;
	margin-top: 0px;
	
}
#header {
	min-height:820px;
	background-image:url(../imagenes/backgroundSombra.png);
	background-repeat:no-repeat;
	background-position:center;
	width: 991px;
	margin: 0 auto;
}

#logo_search{
	height: 110px;
	clear: both;	
	width: 961px;
	margin: 0 auto;
	background-color:#FFFFFF;
}
#logo {
	background: url(../imagenes/logo-futboleras.png) no-repeat right top;
	margin: 14px 0 0 14px;
	height: 84px;
	width:408px;
	float: left;
}
#logo a{
	height: 87px;
	width:408px;
	display: block;	
	text-indent: -9999px;
}
#headerDerecho {

	margin: 80px 0 0 14px;
	height: auto;
	width:100px;
	float: right;
}
.textoGeneral{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-bottom:3px;	
	color: #666666;
	font-weight: normal;
	text-decoration: none;  
	
}

.textoGeneral a{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-bottom:3px;	
	color: #666666;
	font-weight: bold;
	text-decoration:underline;	
}
.textoGeneral a:hover{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-bottom:3px;	
	color: #DB137B;
	font-weight: bold;
	text-decoration:underline;	
}
/* TITULOS*/
h1 {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 27px;
	color: #DB137B;
	font-weight: normal;
	text-align: left;
	font-style: normal;
	text-decoration: none;
 }
h1 a{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #DB137B;
	font-weight: bold;
	text-align: left;
	font-style: normal;
	text-decoration: none;
 }
h1 a:hover{	
	color:#5C545C;
 }
h1 a:visited{
	font-family: Verdana, Arial;
	font-size: 17px;
	color: #DB137B;
	font-weight: bold;
	text-align: left;
	font-style: normal;
	text-decoration: none;
 }
 
 
h2 {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-bottom:3px;
	color:#333;
	font-weight: bold;
	text-decoration: none;  
}
h2 a{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-bottom:3px;	
	color:#333;
	font-weight: normal;
	text-decoration: none;  
}
h2 a:visited{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-bottom:3px;	
	color:#333;
	font-weight: normal;
	text-decoration: none;  
}

h2 a:hover{		
	color: #666666;
}

h3 {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-bottom:3px;	
	color: #666666;
	font-weight: normal;
	text-decoration: none;  
}

h3 a{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-bottom:3px;	
	color: #666666;
	font-weight: bold;
	text-decoration: none;  
}

h3 a:visited{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-bottom:3px;	
	color: #666666;
	font-weight: bold;
	text-decoration: none;  
}

h3 a:hover{
	color: #FF823B;
}
#separacionTitulos{
	height:3px;
	border-top-width: 1px;
	border-top-style: ridge;
	border-top-color: #666;
	border-right-color: #666;
	border-bottom-color: #666;
	border-left-color: #666;
}
/* TITULOS*/
#contenido_general{
	background-color:#FFF;
	margin: 0 auto;
	width: 961px;
	height:auto;
}

#contenidoCentral{
	width: 961px;
	background-color:#FFF;
	float:left;
	
}
#contenidoIzquierdo{
	width:670px;
	clear:left;
	float: left;
	background-color:#FFF;
}

#bannerSWF{
	 height: 295px;
     width: 670px;
     overflow: auto;
	 
}
#contenidoDerecho{	
	width:291px;
	float:right;
	clear:right;
	
}
#homeTresImagenes{
	height:345px;	
	background-color:#006;
	width:670px;
	background-image:url(../imagenes/backHomeTresImagen.jpg);
	background-repeat:no-repeat;
}
#homeRecuadroImagen{
	height:300px;
	width:194px;
	float:left;
	padding-left:0px;
	padding-right:13px;	
}
#centradoRecuadroHome{
width:630px; 
height:320px;
padding-top:23px;
padding-left:37px;
padding-right:0px;	
	
}
#cuadroPromo{
	width:320px;
	float: left;
	height:275px;
	margin-top:5px;
	margin-right:7px;	
}
#ultimasNovedades{
	width:295px;
	height:275px;
	margin-top:5px;
	margin-left:5px;	
}
#ultimasNovedadesThumb{
	min-height:58px;
	margin-bottom:5px;
	border-bottom:solid;
	border-bottom-width:1px;
	border-bottom-color:#999999;
	padding-bottom:5px;

}

#contenidoSeccion{
	padding-left:10px;
	padding-right:10px;
	min-height:510px;
	
}
#tituloSeccion{
	margin-top:10px;
	margin-bottom:5px;
	
}
 /* SOMBRAS COLUMNAS*/
 #sombraIzquierda{
	width: 10px;
	height:475px;
	float: left;
}

/* TEXTOS*/
.textoGral{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
}
.textoGral a:visited{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	color: #666666;
}

.textoGral a:link{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	color: #666666;
	
}

.textoGral a:hover{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	color: #FF823B;
}

.tituloGral   a:hover  {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	color: #666666; 
  }
.tituloGral   a:visited {
	font-family: Verdana;
	font-size: 17px;
	color: #FF823B;
	font-weight: bold;
	text-align: left;
	font-style: normal;
	text-decoration: none;  
  }
.tituloGral a:hover {
	font-family: Verdana;
	font-size: 17px;
	color: #666666;
	font-weight: bold;
	text-align: left;
	font-style: normal;
	text-decoration: none;
 }
.tituloGral {	
	font-size: 17px;
	color: #DB137B;	
	text-align: left;
	font-style: normal;
	text-decoration: none;
 }


#filaRecuadroLink{
	margin-top:2px;
	height:23px;
	background-color:#CCCCCC;
	border-top-width: 1px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-top-color: #666666;
	border-right-color: #666666;
	border-bottom-color: #666666;
	border-left-color: #666666;
	
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	font-size:15px;
}

/*  Filas */
#filaActividad{
	background-color: #F0F0F0;
	margin-top: 6px;
	
	width:70%;
	padding-top: 6px;
	
	border-top-width: 1px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-top-color: #666666;
	border-right-color: #666666;
	border-bottom-color: #666666;
	border-left-color: #666666;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	clear: left;	
	font-size: 11px;	
}

#filaActividadVertical{
	background-color: #F0F0F0;
	margin-top: 6px;
	width:180px;
	margin-left:8px;
	margin-bottom:10px;
	
	padding-top: 6px;
	padding-bottom: 6px;
	border-top-width: 1px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-top-color: #666666;
	border-right-color: #666666;
	border-bottom-color: #666666;
	border-left-color: #666666;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;

	font-size: 11px;	
}
#filaTexto{
margin-top:6px;
}

#columnaTexto{
	clear: right;
	float: left;
	margin-left: 6px;
	width: 174px;
}
#columnaFoto{
	vertical-align: top;
	float: left;
	clear: left;
	
	
}
.filaFotoIzquierda{	
	border: 1px solid #666666;
	float:right;
	margin-left: 6px;
	margin-right: 6px;
	margin-bottom:6px;	
	
}
.cuadroTodasExpediciones{	
	float:right;
	background:url(/images/listadoMedio.jpg);
	background-repeat:repeat-y;
	margin-left: 6px;
	margin-right: 6px;
	margin-bottom:6px;	
	
}
.filaFoto{	
	border: 1px solid #666666;
	margin-right: 6px;
	margin-top:6px;
	margin-bottom:6px;	
	
}
#cajaFoto{
	float:left;
	clear:left;	
}

#filaContenidoDerecho{
	float: right;
	clear: right;
	border: 1px solid #666666;
	font-size:11px;
}

 /* TAB FB*/
#contenedorTabFB{
		
		width: 520px;
		
}


 /* SOMBRAS COLUMNAS*/
/* PIE */
#pieContenedor{
	width: 961px;
	height:40px;
	clear:both;
	margin: 0 auto;
	background-image:url(../imagenes/backGroundFooter.jpg);
	background-repeat:repeat-x;	
}
#pieContenedor-in{
	margin: 0 auto;	
	
	width: 550px;
	padding-top:5px;
	padding-bottom:5px;
}
.textoPie{
	font-size:11px;
	color:#FFFFFF;
}
.textoPie a:link{
	font-size:11px;
	text-decoration: none;
	font-weight: bold;
	color:#FFFFFF;
}

/* FIN PIE */

/* IMAGENES */
.recuadroImagen{
	border-width: 1px;
	border-style: solid;
	border-color:#999999;
	float: left;
	margin-right: 5px;
	
}

.imagenSeccion{
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #F60;
	border-bottom-color: #F60;
	margin-top: 10px;
	margin-bottom: 5px;
}
.imagenGaleria{
	border-width: 3px;
	border-style: solid;
	border-color: #F60;
	margin-top: 10px;
	margin-right:5px;
	margin-bottom: 5px;
}
.logosFbTw{
	

	margin-left:5px;

}
.imagenesBordeadas{
	border-width: 1px;
	border-style: solid;
	border-color:#666;
	margin-bottom:3px;
	}
#descripcionImagen{
	color: #F60;
	margin-bottom: 10px;
	
}
.boxForm{
	font-size: 12px;
	color:#333;
	border: 1px solid #F60;
	background-color:#FFF5E8;
	margin-bottom:10px;
	height:15px;
}
.botonClick{
	background-color: transparent;
	cursor: hand;
	cursor: pointer;
	width:100%;
	border: none 0px;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	color: #FFF;	
}

#btnIzquierda{
	background-image:url(../images/btnIzquierda.png);
	width:5px;
	height: 22px;
	background-position: left;
	text-align: center;
	vertical-align: middle;
	float: left;
	padding-top:5px;
	background-repeat: no-repeat;
}
#btnDerecha{
	background-image:url(../images/btnDerecha.png);
	width:5px;
	height: 22px;
	background-position: left;
	text-align: center;
	vertical-align: middle;
	float: left;	
	margin-right: 5px;
	padding-top:5px;
	background-repeat: no-repeat;
}
#btnCentro{
	background-image:url(../images/btnCentro.png);
	height:22px;
	font-weight: bold;
	color: #FFF;
	font-size: 12px;
	background-position: left;
	text-align: center;
	
	vertical-align: middle;
	background-repeat: repeat-x;
	padding-top:5px;
	float: left;
	
}

.tablaForm{
	background-color:#FED59C;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #F60;
	border-right-color: #F60;
	border-bottom-color: #F60;
	border-left-color: #F60;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
}
/*      EXPEDICIONES   */
#expedicionesThumb{
	width:640px;	
	float: left;
	border-bottom:dotted;
	border-bottom-width:1px;
	margin-bottom:10px;
	padding-bottom:10px;
}
#expedicionesTexto{
	width:320px;		
	float: left;	
}
#expedicionesPrecio{
	padding-top:15px;
	text-align:center;
	width:130px;
	height:90px;
	background-image: url(../expediciones/imagenes/expediciones-precio.jpg);
	background-repeat:no-repeat;
	clear: right;
	float: right;
}
.tituloBlanco{	
	color: #FFF;		
}
#calendarioCuadro{
	background-color:#3C9;
	width:210px;
	height:155px;
	float:left;
	margin-right:5px;
	margin-bottom:5px;
	
}
/*TABLAS DE POSICIONES*/
.tituloTablaPosicion{
	font-size:15px;
	color:#FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	
}
.tablaPosiciones{
	background-color: #5C545C;
	border: 3px solid #5C545C;
	margin-bottom:8px;
	
	
}
.tablaPosicionesTd{
	background-color: #C8C3C6;
	padding-left:5px;
	color:#5C545C;
}
/** FIXTURE ***/

#cajaFixture{
	width:315px;
	background-color:#999;
	float:left;
	padding:2px;
	margin-bottom:5px;
	margin-left:5px;
	
}
#cajaPartido{
	background-color:#FFF;
	float:left;
	margin-top:2px;
	width:315px;
	
}
#cajaEquipo{
	float:left;
	width:100px;
	padding-right:5px;
	padding-left:5px;
}
#cajaResultado{
	float:left;
	width:50px;
	text-align:center;
	font-weight: bold;
}
#cajaEstado{
	float:left;
	width:30px;
	text-align:left;
}
#tituloFecha{
	font-family: Verdana, Arial;
	font-size: 17px;
	color:#FFF;
	font-weight: normal;
	text-align: center;
	font-style: normal;
	text-decoration: none;
	background-color:#666;
	padding:2px;

}