#menu a.menu-item {
	display: block;
	float: left;
	height: 60px;
	margin: 0px 32px;
	line-height: 60px;
	text-decoration: none;
	text-shadow: 2px 2px 2px #2E7C0E;
	font-size: 20px;
	font-weight: normal;
	color: #FFFFFF;
	border: none;
}

/*
#menu .menu-item:hover {
	background: #276D05;
	text-decoration: none;
	text-shadow: 2px 2px 2px #1B5803;
	color: #FFFFFF;
}

#menu a.current_page_item{
    background: none repeat scroll 0 0 #276D05;
    text-shadow: 2px 2px 2px #1B5803;
}
*/

/*/menu/style.css*/
#menu.front{
	height: 62px;
	width: 961px;
	margin: auto;
	padding-top: 0px;
	background: #33820F url(./menu-wrapper-bg.png) repeat-x left top;
}

#nav {
	list-style: none;
}

#nav li {
	float: left;
}

#nav li a {
	display: block;
	text-decoration: none;
	color: #CCCCCC;
	font-weight: bold;
	cursor: hand;
	cursor: pointer;
}

#nav li a:hover {
	color: #FFFFFF;
}

/* Submenu */
#nav ul.submenu {
	border: 1px solid #000000;
	padding: 5px;
	position: absolute;
	list-style: none;
	background-color: #333333;
}

#nav ul.submenu li {
	float: none;
	background-image: none;
	border-bottom: 1px solid #999999;
	width: 125px;
}
#nav ul{
	display:none;
}

/* Subsubmenu */
#nav ul.subsubmenu {
	border: 1px solid #000000;
	padding: 5px;
	position: absolute;
	list-style: none;
	background-color: #333333;
	margin-left: 43px;
	margin-top: 41px;
	z-index: 1500;
}

#nav ul.subsubmenu li {
	float: none;
	background-image: none;
	border-bottom: 1px solid #999999;
	min-width: 125px;
}


