@charset "utf-8";
/* CSS Document */
* {
	padding: 0;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}

body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 11px;
	/*customizacion*/
	background: #181818 url(../imagenes/wrapper-background.png) repeat;
}

#wide-header {
	width: auto;
	margin-top: 0px;
}

#header { /*min-height:820px; */
	background-repeat: no-repeat;
	background-position: center;
	width: 991px;
	margin: 0 auto;
}

#logo_search {
	height: 110px;
	clear: both;
	width: 961px;
	margin: 0 auto;
	background-color: #FFFFFF;
	position: relative;
}

.logo {
	margin: 14px 0 0 14px;
	height: 84px;
	width: 408px;
	float: left;
}

#logo a {
	height: 87px;
	width: 408px;
	display: block;
	text-indent: -9999px;
}

#headerDerecho {
	margin: 80px 0 0 14px;
	height: auto;
	/*width:50px;*/
	float: right;
}

.textoGeneral {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-bottom: 3px;
	/*customizacion*/
	color: #111111;
	font-weight: normal;
	text-decoration: none;
}

.textoGeneral a {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-bottom: 3px;
	/*customizacion*/
	color: #111111;
	font-weight: bold;
	text-decoration: none;
	/*customizacion*/
	background: lightgreen;
}
/* TITULOS*/
h1 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 27px;
	/*customizacion*/
	color: #53B11C;
	font-weight: normal;
	text-align: left;
	font-style: normal;
	text-decoration: none;
}

h1 a {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 17px;
	/*customizacion*/
	color: #53B11C;
	font-weight: bold;
	text-align: left;
	font-style: normal;
	text-decoration: none;
}

h1 a:hover {
	color: #5C545C;
}

h2 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-bottom: 3px;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	margin-top: 15px;
	margin-bottom: 4px;
}

h2 a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-bottom: 3px;
	color: #333;
	font-weight: normal;
	text-decoration: none;
}

h2 a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-bottom: 3px;
	color: #333;
	font-weight: normal;
	text-decoration: none;
}

h2 a:hover {
	color: #666666;
}

h3 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-bottom: 3px;
	color: #111;
	font-weight: normal;
	text-decoration: none;
}

h3 a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-bottom: 3px;
	color: #666666;
	font-weight: bold;
	text-decoration: none;
}

h3 a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-bottom: 3px;
	color: #666666;
	font-weight: bold;
	text-decoration: none;
}

h3 a:hover {
	color: #FF823B;
}

#separacionTitulos {
	height: 3px;
	border-top-width: 1px;
	border-top-style: ridge;
	border-top-color: #666;
	border-right-color: #666;
	border-bottom-color: #666;
	border-left-color: #666;
}
/* TITULOS*/
#contenido_general {
	background-color: #FFF;
	margin: 0 auto;
	width: 961px;
	height: auto;
}

#contenidoCentral {
	width: 961px;
	background-color: #FFF;
	float: left;
}

#contenidoIzquierdo {
	width: 670px;
	clear: left;
	float: left;
	background-color: #FFF;
}

#bannerSWF {
	height: 295px;
	width: 670px;
	overflow: auto;
}

#contenidoDerecho {
	width: 291px;
	float: right;
	clear: right;
}

#homeTresImagenes {
	height: 345px;
	background-color: #FFFFFF;
	width: 670px;
	background-image: url(../imagenes/backHomeTresImagen.jpg);
	background-repeat: no-repeat;
}

#homeRecuadroImagen {
	height: 300px;
	width: 194px;
	float: left;
	padding-left: 0px;
	padding-right: 13px;
}

#centradoRecuadroHome {
	width: 630px;
	height: 320px;
	padding-top: 23px;
	padding-left: 37px;
	padding-right: 0px;
}

#cuadroPromo {
	width: 320px;
	float: left;
	height: 275px;
	margin-top: 5px;
	margin-right: 7px;
}

#ultimasNovedades {
	width: 295px;
	height: 275px;
	margin-top: 5px;
	margin-left: 5px;
}

#ultimasNovedadesThumb {
	min-height: 58px;
	margin-bottom: 5px;
	border-bottom: solid;
	border-bottom-width: 1px;
	border-bottom-color: #999999;
	padding-bottom: 5px;
}

#contenidoSeccion {
	padding-left: 10px;
	padding-right: 10px;
	min-height: 510px;
}

#contenidoSeccion.seccionResumenes {
	min-height: 450px;
}

#tituloSeccion {
	margin-top: 10px;
	margin-bottom: 5px;
}
/* SOMBRAS COLUMNAS*/
#sombraIzquierda {
	width: 10px;
	height: 475px;
	float: left;
}

/* TEXTOS*/
.textoGral {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
}

.textoGral a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	color: #666666;
	font-weight: bold;
}

.textoGral a:link {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	color: #666666;
}

.textoGral a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	color: #FF823B;
}

.tituloGral   a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	color: #666666;
}

.tituloGral   a:visited {
	font-family: Verdana;
	font-size: 17px;
	color: #FF823B;
	font-weight: bold;
	text-align: left;
	font-style: normal;
	text-decoration: none;
}

.tituloGral a:hover {
	font-family: Verdana;
	font-size: 17px;
	color: #666666;
	font-weight: bold;
	text-align: left;
	font-style: normal;
	text-decoration: none;
}

.tituloGral {
	font-size: 17px;
	color: #DB137B;
	text-align: left;
	font-style: normal;
	text-decoration: none;
}

#filaRecuadroLink {
	margin-top: 2px;
	height: 23px;
	background-color: #CCCCCC;
	border-top-width: 1px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-top-color: #666666;
	border-right-color: #666666;
	border-bottom-color: #666666;
	border-left-color: #666666;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	font-size: 15px;
}

/*  Filas */
#filaActividad {
	background-color: #F0F0F0;
	margin-top: 6px;
	width: 70%;
	padding-top: 6px;
	border-top-width: 1px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-top-color: #666666;
	border-right-color: #666666;
	border-bottom-color: #666666;
	border-left-color: #666666;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	clear: left;
	font-size: 11px;
}

#filaActividadVertical {
	background-color: #F0F0F0;
	margin-top: 6px;
	width: 180px;
	margin-left: 8px;
	margin-bottom: 10px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-top-width: 1px;
	border-top-style: dashed;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-top-color: #666666;
	border-right-color: #666666;
	border-bottom-color: #666666;
	border-left-color: #666666;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	font-size: 11px;
}

#filaTexto {
	margin-top: 6px;
}

#columnaTexto {
	clear: right;
	float: left;
	margin-left: 6px;
	width: 174px;
}

#columnaFoto {
	vertical-align: top;
	float: left;
	clear: left;
}

.filaFotoIzquierda {
	border: 1px solid #666666;
	float: right;
	margin-left: 6px;
	margin-right: 6px;
	margin-bottom: 6px;
}

.cuadroTodasExpediciones {
	float: right;
	background: url(/images/listadoMedio.jpg);
	background-repeat: repeat-y;
	margin-left: 6px;
	margin-right: 6px;
	margin-bottom: 6px;
}

.filaFoto {
	border: 1px solid #666666;
	margin-right: 6px;
	margin-top: 6px;
	margin-bottom: 6px;
}

#cajaFoto {
	float: left;
	clear: left;
}

#filaContenidoDerecho {
	float: right;
	clear: right;
	border: 1px solid #666666;
	font-size: 11px;
}

/* TAB FB*/
#contenedorTabFB {
	width: 520px;
}

/* SOMBRAS COLUMNAS*/
/* PIE */
#pieContenedor {
	background-image: none;
	width: 961px;
	height: 40px;
	clear: both;
	margin: 0 auto;
	background-repeat:repeat-x;
}

#pieContenedor-in {
	margin: 0 auto;
	width: 550px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 11px;
	color: #FFFFFF;
	background-color: transparent;
}

#pieContenedor-in a {
	color: #FFFFFF;
}

#textoPie {
	font-size: 11px;
	color: #FFFFFF;
	background-color: transparent;
}

.textoPie a:link {
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
}

/* FIN PIE */

/* IMAGENES */
.recuadroImagen {
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	float: left;
	margin-right: 5px;
}

.imagenSeccion {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #F60;
	border-bottom-color: #F60;
	margin-top: 10px;
	margin-bottom: 5px;
}

.imagenGaleria {
	border-width: 3px;
	border-style: solid;
	border-color: #F60;
	margin-top: 10px;
	margin-right: 5px;
	margin-bottom: 5px;
}

.logosFbTw {
	margin-left: 5px;
	float: left;
}

.imagenesBordeadas {
	border-width: 1px;
	border-style: solid;
	border-color: #666;
	margin-bottom: 3px;
}

#descripcionImagen {
	color: #F60;
	margin-bottom: 10px;
}

.boxForm {
	font-size: 12px;
	color: #333;
	border: 1px solid #F60;
	background-color: #FFF5E8;
	margin-bottom: 10px;
	height: 15px;
}

.botonClick {
	background-color: transparent;
	cursor: hand;
	cursor: pointer;
	width: 100%;
	border: none 0px;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: bold;
	color: #FFF;
}

#btnIzquierda {
	background-image: url(../images/btnIzquierda.png);
	width: 5px;
	height: 22px;
	background-position: left;
	text-align: center;
	vertical-align: middle;
	float: left;
	padding-top: 5px;
	background-repeat: no-repeat;
}

#btnDerecha {
	background-image: url(../images/btnDerecha.png);
	width: 5px;
	height: 22px;
	background-position: left;
	text-align: center;
	vertical-align: middle;
	float: left;
	margin-right: 5px;
	padding-top: 5px;
	background-repeat: no-repeat;
}

#btnCentro {
	background-image: url(../images/btnCentro.png);
	height: 22px;
	font-weight: bold;
	color: #FFF;
	font-size: 12px;
	background-position: left;
	text-align: center;
	vertical-align: middle;
	background-repeat: repeat-x;
	padding-top: 5px;
	float: left;
}

.tablaForm {
	background-color: #FED59C;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #F60;
	border-right-color: #F60;
	border-bottom-color: #F60;
	border-left-color: #F60;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
}

.tituloBlanco {
	color: #FFF;
}

#calendarioCuadro {
	background-color: #3C9;
	width: 210px;
	height: 155px;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}
/*TABLAS DE POSICIONES*/
.tituloTablaPosicion {
	font-size: 15px;
	color: #FFFFFF;
	/*customizacion*/
	background-color: #53B11C;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.tablaPosiciones { /*background-color: #5C545C;
	border: 3px solid #5C545C;
	border-style: none;*/
	border-style: hidden;
	border-width: 0px;
	margin-bottom: 10px;
	float: left;
	width: 100%;
}

.tablaPosicionesTd {
	border-style: hidden;
	border-width: 0px;
	padding-left: 5px;
	color: black;
	height: 3px;
	text-align: center;
}

tbody tr {
	border-style: hidden;
	border-width: 0px;
	color: black;
}

tbody tr.even {
	/*customizacion*/
	background-color: #95FF44;
}

tbody tr.odd {
	background-color: #FFFFFF;
}

div.even {
	/*customizacion*/
	background-color: #95FF44;
}

div.odd {
	background-color: #FFFFFF;
}

td.tdLabel {
	background-color: transparent;
}

/** FIXTURE ***/
.cajaFixture {
	width: 100%;
	background-color: #999;
	float: left;
	padding: 2px;
	margin-bottom: 5px;
	margin-left: 5px;
}

.cajaPartido {
	background-color: #FFF;
	float: left;
	width: 100%;
	position: relative;
}

.cajaEquipo {
	width: 120px;
	padding-right: 5px;
	padding-left: 5px;
	float: left;
}

.equipoLocal {
	text-align: right;
}

.equipoVisitante {
	text-align: left;
}

.cajaResultado {
	float: left;
	width: 50px;
	text-align: center;
	font-weight: bold;
}

#cajaEstado {
	float: left;
	width: 30px;
	text-align: left;
}

.descripcion {
	width: 55px;
	text-align: left;
	float: left;
	margin-left: 5px;
}
.infoPartido{
	text-align: left;
	float: left;
	margin-left: 10px;
}

.fechaPartido {
	width: 30px;
}
.presentacion{
	width: 120px;
	color: #000000;
}
.inicioPartido{
	width: 80px;
}
.separador{
	width: 5px;
}
.tituloFecha { 
	font-size: 15px;
	color: #FFFFFF;
	/*customizacion*/
	background-color: #53B11C;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align: center;
}

/*EFECTO HOVERED*/
td.hovered {
	/*customizacion*/
	background-color: lightgreen;
}

li.texto {
	position: relative;
	left: 25px;
}

img.publicidadVertical {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#publicidadGoogle {
	position: relative;
	left: 20px;
	margin-bottom: 10px;
}

div.equipos {
	position: relative;
	left: 20px;
	width: 250px;
	border-style: hidden;
	border-width: 0px;
	margin-bottom: 10px;
}

td.tituloEquipo {
	font-size: 15px;
	color: #FFFFFF;
	/*customizacion*/
	background-color: #53B11C;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	width: 250px;
	padding-left: 10px;
}

td.equipo {
	border-style: hidden;
	border-width: 0px;
	padding-left: 10px;
	color: black;
	height: 3px;
}

a:hover,a:active {
	color: black;
}

.ultimoResumen {
	margin: 15px 25px;
}

.linkUltimoResumen {
	/*customizacion*/
	color: #53B11C;
	font-size: 13px;
	font-weight: bold;
}

.publicidad.horizontal.google {
	overflow: hidden;
	float: left;
	margin-left: 90px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.resumenes {
	height: 345px;
	width: 650px;
	margin-right: 0px;
}

.tapaResumen {
	height: 300px;
	width: 194px;
	float: left;
	margin-right: 20px;
}

.tapaResumen a {
	margin-bottom: 10px;
	overflow: hidden;
}

.tapaResumen img {
	width: 194px;
	height: 284px;
}

.tapaResumenMini {
	margin-left: 0px;
	margin-right: 17px;
	float: left;
}

.tapaResumenMini img {
	width: 89px;
	height: 131px;
}

.tapaResumenMini a {
	font-size: 13px;
	font-weight: normal;
}

.clickeable {
	cursor: pointer;
}

.spritesCommon {
	background-image: url(../imagenes/spriteCommon.png);
	background-color: transparent;
	background-repeat: no-repeat;
}

#sprite_twitterMini {
	height: 16px;
	width: 16px;
	background-position: -326px -0px;
}

#sprite_facebookMini {
	height: 16px;
	width: 16px;
	background-position: -342px -0px;
}

#sprite_botoneraCentro {
	height: 62px;
	width: 120px;
	background-position: -358px -0px;
}

#sprite_botoneraIzquierda {
	height: 62px;
	width: 13px;
	background-position: -478px -0px;
}

#sprite_botoneraDerecha {
	height: 62px;
	width: 13px;
	background-position: -491px -0px;
}

#sprite_logo {
	height: 84px;
	width: 408px;
	background-position: -504px -0px;
}